### **Moroccan E-Commerce Analysis: Data Cleaning & Integration**
**Objective:** The goal of this notebook is to merge two relational datasets (Orders and Details) and standardize the data types for further analysis of the Moroccan retail market in 2018.

#### **1. Load the Datasets**
We are working with two primary files:
* `Orders_Maroc.csv`: Contains customer information, location (City/State), and order dates.
* `Details_Maroc.csv`: Contains transactional details including Sales, Profit, and Category.

In [ ]:
import pandas as pd

# Load the datasets from  data folder
orders = pd.read_csv('data/orders_maroc.csv')
details = pd.read_csv('data/details_maroc.csv')

#### **2. Merging the Datasets**
We will perform an **Inner Join** on the `Order ID` column to create a unified master dataset. This allows us to link specific product sales to geographic locations and dates.

In [ ]:
# Merge on Order ID
# We use an inner join to keep only orders that have details
df = pd.merge(details, orders, on='Order ID', how='inner')

# Display
print(f'Dataset Shape:{df.shape}')
df.head()

Dataset Shape:(500, 11)

,Order ID,Total Sales,Profit,Quantity,Category,Sub-Category,PaymentMode,Order Date,CustomerName,State,City
0,M-10000,1096,658,7,Electronics,Electronic Games,Paiement à la livraison,10-03-2018,Sara,Rabat-Salé-Kénitra,Kénitra
1,M-10001,5729,64,14,Furniture,Chairs,Paiement en plusieurs fois,03-02-2018,Nadia,Marrakech-Safi,Marrakech
2,M-10002,2927,146,8,Furniture,Bookcases,Paiement en plusieurs fois,24-01-2018,Mohamed,Casablanca-Settat,Mohammedia
3,M-10003,2847,712,8,Electronics,Printers,Carte bancaire,27-12-2018,Omar,Béni Mellal-Khénifra,Khénifra
4,M-10004,2617,1151,4,Electronics,Phones,Carte bancaire,21-08-2018,Fatima,Casablanca-Settat,Casablanca

#### **3. Data Standardization**
To perform time-series analysis and financial calculations, we must:
1. Convert `Order Date` from a string to a **datetime** object.
2. Extract **Month** and **Year** for seasonal trend analysis.
3. Ensure `Profit` and `Total Sales` are in numeric format.

In [8]:
# Convert Order Date (Format: DD-MM-YYYY)
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)

# Feature Engineering: Extracting Time components
df['Month'] = df['Order Date'].dt.month_name()
df['Year'] = df['Order Date'].dt.year

# Create a binary Profitability flag for future Machine Learning
df['Is_Profitable'] = df['Profit'] > 0

# Clean up any trailing spaces in categorical columns
df['City'] = df['City'].str.strip()
df['Category'] = df['Category'].str.strip()

print("Data types and formats standardized.")
df[['Order Date', 'Month', 'Profit', 'Is_Profitable']].head()

Data types and formats standardized.

  Order Date     Month  Profit  Is_Profitable
0 2018-03-10     March     658           True
1 2018-02-03  February      64           True
2 2018-01-24   January     146           True
3 2018-12-27  December     712           True
4 2018-08-21    August    1151           True

#### **4. Exporting the Master Dataset**
Finally, we save this cleaned and integrated dataset as a new CSV file to serve as the "Source of Truth" for our Exploratory Data Analysis (EDA) and Machine Learning models.

In [9]:
# Save to the data folder
df.to_csv('data/Morocco_Ecommerce_Master.csv', index=False)

print("Master dataset exported successfully as 'Morocco_Ecommerce_Master.csv'.")

Master dataset exported successfully as 'Morocco_Ecommerce_Master.csv'.